.blogs {
  display: flex;
  gap: 30px;
}

.infos {
  display: flex;
}

.logos {
  height: 100px;
  width: 200px;
  color: rgb(255, 154, 98);
}

.logos img {
  color: rgb(255, 154, 98);
  width: 110px;
  height: 120px;
  margin-top: 10px;
  margin-left: 25px;
}

span {
  color: rgb(255, 154, 98);
}

.tittle1 {
  margin-top: 57px;
}

.navbars {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.liste {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: white;
  gap: 50px;
  margin-top: 62px;
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 20px;
}

.liste a.active {
  color: rgb(224, 12, 139);
}

li a {
  color: white;
  text-decoration: none;
}

/* hover correct pour la navbar du haut */
.liste li a:hover,
.liste li a.active {
  color: rgb(224, 12, 139);
}

.outiles {
  color: white;
  margin-top: 65px;
  margin-left: 80px;
  cursor: pointer;
}

.blog-event {
  display: flex;
  gap: 70px;
  align-items: center;
  flex-direction: row;
}

.second-nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 90px;
}

.nouveau {
  text-align: center;
  justify-content: space-between;
  color: white;
  gap: 50px;
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 20px;
}

.titre2 {
  color: rgb(224, 12, 139);
  margin-left: 32px;
}

.miracle {
  display: flex;
  align-items: center;
  margin-left: 145px;
  flex-direction: row;
}

.input-containers {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.edi-input {
  padding-right: 40px;
  background-color: black;
  height: 35px;
  width: 250px;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.icon-containers {
  position: relative;
  right: 130px;
  display: flex;
  align-items: center;
}

/* PARTIE MAIN */
.main {
  display: flex;
  margin-bottom: 50px;
}

.videos {
  margin-right: 20px;
  margin-bottom: 22px;
}

.empty-image-list {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
}

/* COLONNE GAUCHE */
.biblio {
  color: white;
  display: flex;
  margin-left: 35px;
  margin-bottom: 10px;
}

.write-biblio {
  font-size: 20px;
  margin-bottom: 5px;
}

.all-events {
  color: white;
  display: flex;
}

.historic {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
}

/* CHANNELS */
.chaines {
  color: white;
  margin-left: 35px;
}

.channels-menu {
  margin-top: 10px; /* espace entre "Channels" et Web tv */
}

.channels-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.channels-list li a {
  color: white;
  text-decoration: none;
}

.channels-list li a:hover,
.channels-list li a.active {
  color: rgb(224, 12, 139);
}

/* WEB CATEGORIES */
.categorie {
  color: white;
  display: flex;
}

.categorie-web {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
}

.categorie-web li a {
  color: white;
  text-decoration: none;
}

.categorie li a:hover,
.categorie li a.active {
  color: rgb(224, 12, 139);
}

/* IMAGES */
.imageItem {
  margin-left: -50px;
}

/* BOUTON BAS */
.button1 {
  color: white;
  height: 45px;
  width: 300px;
  background-color: rgb(224, 12, 139);
  border-radius: 10px;
  border: 2px solid rgb(224, 12, 139);
  border-color: rgb(224, 12, 139);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 600px;
  position: relative;
  top: -85px;
}
