.customImageList {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px; */
     overflow: hidden; 
  }
  .customImageList{
    display: flex;
    flex-wrap: wrap; /* Permet aux images de passer à la ligne quand l'espace est insuffisant */
  justify-content: flex-start;
  position: relative;
  top: -10px;
  }
.imageItem{
  width: 220px;
  height: 220px;
  margin-left: 24px;
  margin-bottom: 24px;
  flex: 0 0 calc(33.33% - 10px);
  cursor: pointer;
  transition: transform 0.3s;
}

.image-hover-container:hover .imageItem {
  transform: scale(1.2);
}
 .button{
  color: white;
  height: 40px;
  width: 200px;
  background-color: rgb(224, 12, 139);
  border-radius: 10px;
  border: 2px solid rgb(224, 12, 139);
  border-color: rgb(224, 12, 139);
  text-align: center;
  font-size: 15px;
 cursor: pointer;
 margin-left: 400px;
} 