.header{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 30px;
    
}
/* .logo{
    height: 310px;
    width: 250px;
    color: rgb(255, 154, 98);

} */
span{
    color: rgb(255, 154, 98); 
}
.tittle {
    margin-left: 400px;
}

.connection{
 margin-left: 65px; 
color: whitesmoke;
}

.slogan{
    color: rgb(224, 12, 139);
    font-size: 20px;
    /* margin-bottom: 90px; */
    margin-left: 300px;
}
.connecter-button{
    height: 50px;
    width: 475px;
    background-color: rgb(255, 154, 98);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: 2px solid rgb(255, 154, 98);
    color: white;
    font-size: 20px;
   
}
.connecter-button:hover {
    background-color: #e67e22;
  }

  .connexion{
    align-items: center;
    gap: 20px;
  }

  .main{
    display: flex;
  }
  .boxe{
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-bottom: 150px;
    margin-left: 100px;
  }

  .input-containere {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .edit-input4 {
    padding-right: 40px; /* Ajustez la valeur selon vos besoins */
     background-color: none; 
    height: 35px;
    width: 450px;
    color: black;
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
  }
  .forgot-password{
  color: white;
  cursor: pointer;
  margin-left: 110px; 
}
.forgot-password:hover {
  color: rgb(224, 12, 139);
}
.formulaire{
  gap: "20px"
}

.sites img {
  height: 400px;
  width: 650px;
  margin-left: 120px;
  transition: transform 0.3s ease-in-out; 
  cursor: pointer;
}

.sites img:hover {
  transform: scale(1.1); /* Grossissement de l'image lorsqu'elle est survolée */
}


.confidentialites{
  display: flex;
  justify-content: space-between;
 bottom: 20px;
  position: relative;
  top: -70px;
}
.class{
  display: flex;
  gap: 120px;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: -60px;
}
.class a {
  text-decoration: none; 
  color: whitesmoke;
  font-size: 20px;
}
.outil{
  display: flex;
  gap: 60px;
  right: 20px;
  position: relative;
  top: -70px;
}
.outil svg {
  width: 30px; 
  height: 30px; 
  color: whitesmoke;
}

.outil svg:hover{
  color: rgb(224, 12, 139);
 }

 .class a:hover{
    color: rgb(224, 12, 139);
   }

  